body{
font-family: Arial, sans-serif;
background-image: url('background.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin:0;
padding:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background: rgba(255,255,255,0.85);
backdrop-filter: blur(10px);
padding:40px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
width:420px;
text-align:center;
border:1px solid rgba(255,255,255,0.4);
}
input{
width:100%;
padding:14px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
font-size:16px;
}

button{
width:100%;
padding:14px;
background: linear-gradient(135deg,#0077ff,#00c6ff);
color:white;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.03);
box-shadow:0 5px 15px rgba(0,0,0,0.3);
}


table{
width:100%;
margin-top:20px;
border-collapse:collapse;
text-align:center;
}

th, td{
border:1px solid #999;
padding:10px;
}

th{
background:#0077ff;
color:white;
}
.result{
margin-top:20px;
font-size:18px;
font-weight:bold;
text-align:center;
}

#gauge_chart{
display:flex;
justify-content:center;
margin:20px auto;
}
