<!DOCTYPE html>
<html>

<head>

<title>Glucose Prediction</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Non-Invasive Glucose Monitor</h1>

<p>Enter Physiological Signals</p>

<form method="POST">

<input type="number" step="any" name="ethanol" placeholder="Breath Ethanol" required>

<input type="number" step="any" name="heart_rate" placeholder="Heart Rate (BPM)" required>

<input type="number" step="any" name="conductance" placeholder="Skin Conductance" required>

<input type="number" step="any" name="temperature" placeholder="Body Temperature (°C)" required>

<button type="submit">Predict Glucose</button>

</form>

{% if prediction %}

<div class="result">

<h2>Predicted Glucose Level</h2>

<h3>{{prediction}} mg/dL</h3>

</div>

{% endif %}

</div>

</body>

</html>
